<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>

Interpolation: {{c}}
<br />

<button (click)="increaseC()">+</button>updateC
<button (click)="decreaseC()">-</button>

<br />

One way binding: <input name="valueOfC" [value]="c" />
<br />
Two way binding (banana tag)<input name="dynamicC" [(ngModel)]="c" />
<br />
Alternative two way <input name="alternateDynamicC" [ngModel]="c" (ngModelChange)="c = $event" />
<!--Alternative two way <input name="alternateDynamicC" [ngModel]="c" (ngModelChange)="updateC($event)" /> !-->

<br />
<h5>Tax calculator</h5>
<br />
<input name="amount" [(ngModel)]="salary" />
<input name="tax" [(ngModel)]="tax" />
{{taxAmount}}
<button (click)="calculateTax()">Calculate</button>

<!-- Angular directives -->
<!-- ngIf ngFor ngTemplate ngContainer ngSwitch ngStyle ngClass - usable only into the HTML part -->

<div *ngIf="taxAmount > 100">
  Скап живот живејш
  <h4>Custom html for above 100</h4>
</div>
<div *ngIf="taxAmount <= 100">
  Мала такса
  <p>Custom p for below or equal</p>
</div>


<div *ngIf="taxAmount > 100">
  <app-body></app-body>
</div>

<div class="link">adsadsdas</div>

