.nav-bar {
  background-color: #212121;
  color: whitesmoke;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 16px;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.nav-bar ul li {
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  position: relative;
  transform: scale(1);
}
.nav-bar ul li:hover {
  transition: 0.4s;
  transform: scale(1.1);
}
