/* You can add global styles to this file, and also import other style files */
ul
{
	margin:0;
	padding:0;
}

.link
{
	display: block;
	list-style: none;
	padding: 10px;
	margin:0;
	background-color: #c9c9c9;
}