:host-context(app-header)
{
	display: block;
	width: 100%;
	max-width: 100%;
}

ul
{
	display: flex;
	width: 100%;
	max-width: 100%;
	flex-direction: row;
	background-color:  #c9c9c9;
}

ul > li
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}